/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Ensure the entire page occupies full height */
  html, body {
    height: 100%; /* Makes the html and body elements span the full height of the viewport */
  }
  
  /* Body Styling */
  body {
    font-family: 'Poppins', sans-serif;
    background: #121212;
    color: white;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
  }
  
  
  @media (max-width: 768px) {
    #menu-toggle {
      display: block; /* Show the hamburger button */
      background: none;
      border: none;
      color: white;
      font-size: 2rem;
    }
  
    #nav-menu {
      display: none; /* Hide navigation by default */
      flex-direction: column;
      background: #121212;
      position: absolute;
      top: 60px;
      right: 20px;
      padding: 10px;
      border-radius: 5px;
    }
  
    #nav-menu.open {
      display: flex; /* Show navigation when open */
    }
  }

.refresh-button {
  background-color: #1db954;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.refresh-button:hover {
    background-color: #169944;
}

/* Footer Styling */
footer {
  padding: 10px;
  background-color: #1c1c1c;
  color: #aaa;
  text-align: center;
  width: 100%;
}

